{% extends 'base.html' %}

{% block content %}
<div style="display: flex; flex-direction: column; margin-top: 150px; align-items: center; color:black" >
    <h1 style="font-size:35px; margin-bottom: 5px; color: rgb(0, 157, 255); " >About Us</h1>
    <div style="display: flex; align-items: center; width: 90%;">
        <div style="font-size:18px; margin-bottom: 5px; margin-left: 20px; margin-right: 20px; display: flex; ">
            ETnets stands for Ethiopian Networks and it is a professional social networking media works on connecting Peoples to new professions and business information around the World.
            Our company has a goal to work on providing higher level services to the market, espicially to the small and medium business who wants to promote their service and products.
            Content creators can also use our service to promote their content and gain new followers, which leads them to monitazation.
            We also have longterm goal on making significant diffrence in the digital economy of Africa, by reducing youth unemployment.
        </div>
    
    
    </div>
    
   
    
    
    <div style="font-size:20px; margin-top: 25px; margin-bottom: 3px; margin-left: 15px; ">
        You can call or Email us for Any comments or suggestions
    </div>
    <div style="font-size:20px; margin-bottom: 5px; margin-left: 30px; margin-top: 30px; ">
      
    <h2 style="font-size:20px; margin-bottom: 10px; margin-left: 30px;">
       
        <i style="margin-right: 5px; font-size: 20px;" class="fa-solid fa-phone-volume"></i>
        Call-Us : +251-963360740 
    </h2>
        
       
    <h2 style="font-size:20px; margin-bottom: 15px; margin-left: 30px;">
        <i style="margin-right: 5px; font-size: 20px;" class="fa-solid fa-inbox"></i>
        Email-Us: <a> etnets77@gmail.com </a>
    </h2>
    <a href="https://t.me/etnets1" style="align-items: center; margin-bottom: 7px; font-size:20px; margin-bottom: 25px; margin-left: 30px; color: black;">
        
        <i style="color: black; font-size: 40px; margin-right: 5px;" class="fa-brands fa-telegram"></i>
        Our Telegram Page </a>

   <p style="font-size:20px; margin-top: 12px; margin-bottom: 5px; margin-left: 30px; margin-bottom: 50px; color: rgb(0, 157, 255)">We will respond you soon !!!</p> 



    </div>
    
</div>


{% endblock content %}