{% extends 'base.html' %}
{% load static %}
{% block content %}

<main  >
  <div class="row">


  <div class="col-lg-4 col-md-12 mb-4">
   
    <h2>Hello</h2>
  </div>
 
 <div style="margin-top: 100px; margin-left: 20px; padding: 5px; border-radius: 10px; border: solid 0.5px black; align-items: center; justify-content: space-around;" class="col-xl-6">
  <h4>Thanks for using our service. You have now Unlimited Access to Post Vacancy</h4>
  <div class="">
      <div style="margin-bottom: 30px;">
        <div  class="layout__boxTitle">
          <a style="margin-left: 10px;" href="{{request.META.HTTP_REFERER}}">
            <svg style="color: black;" version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>arrow-left</title>
              <path
                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
              </path>
            </svg>
          </a>
          <span style="font-size: 17px; color: rgb(0, 157, 255); font-weight: 600; margin-left: 50px;">Create/Update Your Vacancy Announcement</span>
        </div>
      </div>
     <div class="layout__body">
        <form class="form" action="" method="POST">
          {% csrf_token %}

          <div style="margin-bottom: 10px;"  >
            <label for="room_topic">Enter a Jobtitle</label>
            <input style="margin-right: 10px;"   required type="text" value="{{job.የስራመደብ.titlename}}" name="jobtitle" list="jobtitle-list" />
            <datalist   id="jobtitle-list">
              <select id="room_topic">
                {% for jobtitle in jobtitles %}
                <option value="{{jobtitle.titlename}}">{{jobtitle.titlename}}</option>
                {% endfor %}
              </select>
            </datalist>
          </div>
          <div style="margin-bottom: 10px;"  class="form__group">
            <label for="room_topic">Enter a Workplace</label>
            <input required type="text" value="{{job.የስራቦታ.woplace}}" name="workplace" list="workplace-list" />
            <datalist id="workplace-list">
              <select id="room_topic">
                {% for workplace in workplaces %}
                <option value="{{workplace.woplace}}">{{workplace.woplace}}</option>
                {% endfor %}
              </select>
            </datalist>
          </div>


          <div  class="row mb-3">
            <label class="col-md-4 col-lg-3 col-form-label"  for="room_description">Job Descriptions</label>
            <div   class="col-md-8 col-lg-9">
              <div class="form-control">
                {{form.Job_Description}}
              </div>
            </div>
            
           
          </div>

          <div c class="row mb-3">
            <label class="col-md-4 col-lg-3 col-form-label">Additional Requirements</label>
            <div class="col-md-8 col-lg-9">
              <div class="form-control">
                {{form.Additional_Requirments}}
              </div>
            </div>
           
          </div>
          <div class="form__group">
            <label class="col-md-4 col-lg-3 col-form-label" for="room_name">Employment Status</label>
            <div class="col-md-8 col-lg-9">
              <div class="form-control">
                {{form.Employment_Status}}
              </div>
            </div>
          
          </div>
          <div class="form__group">
            <label class="col-md-4 col-lg-3 col-form-label" for="room_name">Quantity</label>
            <div class="col-md-8 col-lg-9">
              <div class="form-control">
                {{form.Quantity}}
              </div>
            </div>
          
            
          </div>
          <div class="form__group">
            <label class="col-md-4 col-lg-3 col-form-label" for="room_name">Salary</label>
            <div class="col-md-8 col-lg-9">
              <div class="form-control">
                {{form.Salary }}
              </div>
            </div>
            
          </div>
          <div  class="form__group">
            <label class="col-md-4 col-lg-3 col-form-label" for="room_name">How Do you Recieve Applications</label>
            <div class="col-md-8 col-lg-9">
              <div class="form-control">
                {{form.How_to_Apply}}
              </div>
            </div>
           
          </div>
          <div style="margin-bottom: 30px;" class="form__group">
            <label class="col-md-4 col-lg-3 col-form-label" for="room_name">DeadLine</label>
            <div class="col-md-8 col-lg-9">
              <div class="form-control">
                {{form.Dead_Line}}
              </div>
            </div>
           
          </div>
           <div class="form__action">
            <a style="font-size: 17px; color: black;  margin-left: 10px; background-color: rgb(194, 194, 194);" class="btn btn--dark" href="{{request.META.HTTP_REFERER}}">Cancel</a>
            <button style="background-color: rgb(0, 157, 255); margin-right: 10px; color: black; float: right; font-size: 17px;" class="btn btn--main" type="submit">Submit</button>
          </div>
        </form>
      </div>
   </div>
 </div>
 </div>
</main>

{% endblock content %}