{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<head>
</head>
<body>


  <div style="align-items: center;" class="container-fluid">
    <div class="container p-5">
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">

        </div>
        
        <div style="margin-top: 50px; align-items: center;" class="col-lg-4 col-md-12 mb-4">
          <div class="card card2 h-100">
            <div class="card-body">
             
              <h4 style="font-weight: 700; margin: 10px;"> ETnets Business Official
                <i style="font-size: 25px; color: goldenrod;" class="bi bi-patch-check-fill fa-beat"></i>
              </h4>
              <small class='text-muted'>Recommended For Small and Medium Businesses</small>
              <br><br>
              <span style="font-weight: 600; margin-right: 2px;" class="h2">$4</span><span style="color: rgb(0, 157, 255); font-weight: 600;">Per Month</span> //
              <br>
              <span style="font-size: 16px; font-weight: 600; margin-right: 2px;" class="h2">220Birr</span><span style="color: rgb(0, 157, 255); font-weight: 600;">በየወሩ</span>
              <br><br>
              <li style="font-weight: 600;">15 days Money back guarantee</li>
              <a href="{% url 'payjob' %}">
                <div class="d-grid my-3">
                  <button class="btn btn-outline-dark btn-block">Pay // ክፈል</button>
                </div>
              </a>
             
              <span style="font-size: 16px;">After the transaction You can Unlock these things</span>
              <ul>
               
                <li>Official business verification</li>
                <li>Promoting your post daily on multiple Feeds</li>
                <li>Accessing specific customer traction in your industry</li>
                <li>Advertising your business on other ETnets social mediea Account</li>
                <li>Getting weekly E-mail notification about your market and competitors </li>

              </ul>
            </div>

            
          </div>
        </div>
        <div class="col-lg-4 col-md-12 mb-4">
        
        </div>
      </div>    
    </div>
  </body>






{% endblock %}