{% extends 'base.html' %}



{% block content %}
<style>
    .buttonp {
    background-color:white; color: black; padding: 5px; 
   border-radius: 20px; width: 130px; 
   align-items: center; 
   font-weight: 600;
   width: 50%;
   align-items: center;
}

.buttonp:hover {background-color: rgb(196, 196, 196) ; color: #000;}

.buttonp:active {
  background-color: gray;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  color: white;
}
</style>
<div style="display: flex; flex-direction: column; margin-top: 150px; align-items: center; " >
    <h1 style="font-size:35px; margin-bottom: 3px; margin-left: 30px; color: rgb(0, 157, 255); margin-top: 10px;" >ETnets Privacy Policy</h1>
    <div style="font-size:18px; margin-bottom: 25px; margin-left: 20px; margin-right: 20px; color: #000; ">
        You should know the ways we share your information, why we share it, and how you can control it. There are some ways we share your information.
    </div>

    <h1 style="font-size:30px; margin-bottom: 5px; margin-left: 30px; color: rgb(0, 157, 255); ">With the General Public</h1>
    <div style="font-size:18px; margin-bottom: 25px; margin-left: 20px; margin-right: 20px; color: black; align-items: center; ">
       
   You are directing us to disclose that information as broadly as possible. etnets content, including your profile information (e.g., name, username, profile pictures), is available for viewing by the general public. 
   The public does not need to be signed in to view much of the content on etnets. They may also find eNetwork content off of eNetwork, for example from search query results on Internet search engines.

  

       

       

    </div>
   

    <h1 style="font-size: 30px; margin-bottom: 5px; margin-left: 30px; color: rgb(0, 157, 255); "> With Advertisers</h1>
    <div style="font-size:18px; margin-bottom: 25px; margin-left: 20px; margin-right: 20px; color: black; ">
     Advertising revenue enables us to provide our products and services. Advertisers may learn information from your engagement with their ads on or off etnets. 
        For example, if you click on an external link or ad on our services, that advertiser or website operator might figure out that you came from etnets, 
        along with other information associated with the ad you clicked, such as characteristics of the audience it was intended to reach and other eNetwork-generated identifiers for that ad. 
        They may also collect other personal information from you, such as cookie identifiers, or your IP address.
</div>


<h1 style="font-size:30px; margin-bottom: 5px; margin-left: 30px; color: rgb(0, 157, 255); "> With our Afiliates</h1>
    <div style="font-size:18px; margin-bottom: 25px; margin-left: 20px; margin-right: 20px; color: black; ">
        We may share information amongst our affiliates to provide our products and services.


</div>

<h1 style="font-size:30px; margin-bottom: 5px; margin-left: 30px; color: rgb(0, 157, 255); ">Information you provide us.
</h1>
    <div style="font-size:18px; margin-bottom: 25px; margin-left: 20px; margin-right: 20px; color: black ">

        
To use some of our products and services you need to have an account, and to create an account, you need to provide us certain information. Likewise, if you use our paid products and services, we cannot provide them to you without getting payment information. Basically, certain information is necessary if you want to use many of our products and services.
<br/>
<span style="margin-top: 30px; font-size: 22px; font-weight: 600;">Personal Accounts.</span>
<br/> 
If you create an account, you must provide us with some information so that we can provide our services to you. This includes a display name (for example, “etnets Moments”); a username (for example, @etnetsMoments); a password; an email address or phone number; your display language; and third-party single sign-in information (if you choose this sign-in method). 
You can also choose to share your location in your profile, and to upload your address book to eNetwork to help find people you may know. Your profile information, which includes your display name and username, is always public, but you can use either your real name or a pseudonym. And remember, you can create multiple Twitter accounts, for example, to express different parts of your identity, professional or otherwise. 
<br/>
<span style="margin-top: 30px; font-size: 22px; font-weight: 600;" >Professional Accounts.</span>
<br/> 
If you create a professional account, you also need to provide us with a professional category or business Industry, and may provide us with other information, including street address, contact email address, and contact phone number, all of which will always be public. 




</div>
    <h1 style="font-size:22px; margin-bottom: 10px; margin-left: 30px; color: black  ">If You have any comment or questions feel free to leave on the address below</h1>
    <p style="font-size:20px; margin-bottom: 5px; margin-left: 30px; ">
        <span style="font-size:15px; margin-bottom: 10px; margin-left: 30px; color: black;">
       
            <i style="margin-right: 5px; font-size: 20px; color: black;" class="fa-solid fa-phone-volume"></i>
            +251-963360740 
        </span>
        <span style="font-size:15px; margin-bottom: 15px; margin-left: 30px; color: black;">
            <i style="margin-right: 5px; font-size: 20px; color: black;" class="fa-solid fa-inbox"></i>
            <a> etnets77@gmail.com</a>
        </span>
    
    
 
    <a href="https://t.me/etnets1" style="font-size:20px; margin-bottom: 25px; margin-left: 30px; color: black;">
        
        <i style="color: black; font-size: 40px; margin-right: 5px;" class="fa-brands fa-telegram"></i>
        Our Telegram Page </a>
    <p style="font-size:18px; margin-bottom: 5px; margin-left: 30px; margin-bottom: 10px; color: black;">We will respond you soon !!!</p> 



    </p>
    
</div>


{% endblock content %}