{% extends 'base.html' %}



{% block content %}
<style>
    .buttonp {
    background-color:white; color: black; padding: 5px; 
   border-radius: 20px; width: 130px; 
   align-items: center; 
   font-weight: 600;
   width: 50%;
   align-items: center;
}

.buttonp:hover {background-color: rgb(196, 196, 196) ; color: #000;}

.buttonp:active {
  background-color: gray;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  color: white;
}
</style>
<div style="display: flex; flex-direction: column; margin-top: 150px; align-items: center; " >
    <h1 style="font-size:35px; margin-bottom: 3px; margin-left: 30px; color: rgb(0, 157, 255); margin-top: 10px;" >ETnets Terms and Conditions</h1>
    <div style="font-size:18px; margin-bottom: 25px; margin-left: 20px; margin-right: 20px; color: #000; ">
        These Terms of Service (“Terms”) govern your access to and use of our services, including our various websites, 
        SMS, APIs, email notifications, applications, buttons, widgets, ads, commerce services, and our other covered services
          that link to these Terms (collectively, the “Services”), and any information, text, links, graphics, photos, audio, videos, or other materials or arrangements of materials uploaded, downloaded or appearing on the Services (collectively referred to as “Content”). 
          By using the Services you agree to be bound by these Terms.
        </div>




    <h1 style="font-size:25px; margin-bottom: 5px; margin-left: 30px; color: rgb(0, 157, 255); ">Content On the services</h1>
    <div style="font-size:18px; margin-bottom: 25px; margin-left: 20px; margin-right: 20px; color: black; align-items: center; ">
        You are responsible for your use of the Services and for any Content you provide, including compliance with applicable laws, rules, and regulations. 
        You should only provide Content that you are comfortable sharing with others.

        Any use or reliance on any Content or materials posted via the Services or obtained by you through the Services is at your own risk. 
        We do not endorse, support, represent or guarantee the completeness, truthfulness, accuracy, or reliability of any Content or communications posted via the Services or endorse any opinions expressed via the Services. 
        You understand that by using the Services, you may be exposed to Content that might be offensive, harmful, inaccurate or otherwise inappropriate, or in some cases, postings that have been mislabeled or are otherwise deceptive. 
        All Content is the sole responsibility of the person who originated such Content. 
        We may not monitor or control the Content posted via the Services and, we cannot take responsibility for such Content.
        
        We reserve the right to remove Content that violates the User Agreement, including for example, copyright or trademark violations or other intellectual property misappropriation, impersonation, unlawful conduct, or harassment. 
        Information regarding specific policies and the process for reporting or appealing violations can be found sooner in our site.
        
        If you believe that your Content has been copied in a way that constitutes copyright infringement, please report this by contacting with us by our address below.
    </div>




   

    <h1 style="font-size:25px; margin-bottom: 5px; margin-left: 30px; color: rgb(0, 157, 255); "> Your Rights and Grant of Rights in the Content   </h1>
    <div style="font-size:18px; margin-bottom: 25px; margin-left: 20px; margin-right: 20px; color: black; ">
        You retain your rights to any Content you submit, post or display on or through the Services. 
        What’s yours is yours — you own your Content (and your incorporated audio, photos and videos are considered part of the Content).
<br/>
<br/>
<br/>


        By submitting, posting or displaying Content on or through the Services, you grant us a worldwide, non-exclusive, royalty-free license (with the right to sublicense) to use, copy, reproduce, process, adapt, modify, publish, transmit, display and distribute such Content in any and all media or distribution methods now known or later developed (for clarity, these rights include, for example, curating, transforming, and translating). 
        This license authorizes us to make your Content available to the rest of the world and to let others do the same. You agree that this license includes the right for Twitter to provide, promote, and improve the Services and to make Content submitted to or through the Services available to other companies, organizations or individuals for the syndication, broadcast, distribution, Retweet, promotion or publication of such Content on other media and services, subject to our terms and conditions for such Content use. 
        Such additional uses by eNetwork, or other companies, organizations or individuals, is made with no compensation paid to you with respect to the Content that you submit, post, transmit or otherwise make available through the Services as the use of the Services by you is hereby agreed as being sufficient compensation for the Content and grant of rights herein.
<br/>
You represent and warrant that you have, or have obtained, all rights, licenses, consents, permissions, power and/or authority necessary to grant the rights granted herein for any Content that you submit, post or display on or through the Services. 
You agree that such Content will not contain material subject to copyright or other proprietary rights, unless you have necessary permission or are otherwise legally entitled to post the material and to grant eNetwork the license described above.





    </div>


<h1 style="font-size:25px; margin-bottom: 5px; margin-left: 30px; color: rgb(0, 157, 255); "> Your Account </h1>
    <div style="font-size:18px; margin-bottom: 25px; margin-left: 20px; margin-right: 20px; color: black; ">
        You may need to create an account to use some of our Services. You are responsible for safeguarding your account, so use a strong password and limit its use to this account.
         We cannot and will not be liable for any loss or damage arising from your failure to comply with the above.   

         <br/>
         <br/>

         You can control most communications from the Services. We may need to provide you with certain communications, such as service announcements and administrative messages. 
         These communications are considered part of the Services and your account, and you may not be able to open it-out from receiving them. If you added your phone number to your account and you later change or deactivate that phone number,
          you must update your account information to help prevent us from communicating with anyone who acquires your old number.






   </div>

   <h1 style="font-size:25px; margin-bottom: 5px; margin-left: 30px; color: rgb(0, 157, 255); "> Your License to Use the Services </h1>
    <div style="font-size:18px; margin-bottom: 25px; margin-left: 20px; margin-right: 20px; color: black; ">
        etnets gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use the software provided to you as part of the Services. 
        This license has the sole purpose of enabling you to use and enjoy the benefit of the Services as provided by eNetwork, in the manner permitted by these Terms.
         <br/>
         <br/>

         The Services are protected by copyright, trademark, and other laws of both the Ethiopia and other countries. Nothing in the Terms gives you a right to use the eNetwork name or any of the eNetwork trademarks, logos, domain names, other distinctive brand features, and other proprietary rights. 
         All right, title, and interest in and to the Services (excluding Content provided by users) are and will remain the exclusive property of eNetwork and its licensors. Any feedback, comments, or suggestions you may provide regarding eNetwork, or the Services is entirely voluntary and we will be free to use such feedback, comments or suggestions as we see fit and without any obligation to you.

    </div>























   
    
    
    <h1 style="font-size:22px; margin-bottom: 10px; margin-left: 30px; color: black  ">If You have any comment or questions feel free to leave on the address below</h1>
    <p style="font-size:20px; margin-bottom: 5px; margin-left: 30px; ">
        <span style="font-size:15px; margin-bottom: 10px; margin-left: 30px; color: black;">
       
            <i style="margin-right: 5px; font-size: 20px; color: black;" class="fa-solid fa-phone-volume"></i>
            +251-963360740 
        </span>
        <span style="font-size:15px; margin-bottom: 15px; margin-left: 30px; color: black;">
            <i style="margin-right: 5px; font-size: 20px; color: black;" class="fa-solid fa-inbox"></i>
            <a> etnets77@gmail.com</a>
        </span>
        <a href="https://t.me/etnets1" style="font-size:20px; margin-bottom: 25px; margin-left: 30px; color: black;">
        
            <i style="color: black; font-size: 40px; margin-right: 5px;" class="fa-brands fa-telegram"></i>
            Our Telegram Page </a>
    
    
        
   <p style="font-size:18px; margin-bottom: 5px; margin-left: 30px; margin-bottom: 10px; color: black;">We will respond you soon !!!</p> 



    </p>
    
</div>


{% endblock content %}